/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
  font-family: "TharLon";
  src: url("./fonts/TharLon.ttf.woff") format("woff");
}

body {
  font-family: "Tenor Sans", sans-serif;
  font-family: "The Nautigal", cursive;
  margin: 0;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

header {
  position: absolute;
  width: 100%;
}

.menu {
  margin-right: 48px;
}

#openBtn > svg:nth-child(1) {
  width: 36px;
  height: 36px;
  stroke: #000000;
  fill: none;

  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
#openBtn > svg:nth-child(1):hover {
  stroke: #fff;
}

.button-menu {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;

  display: flex;
  align-items: center;

  -webkit-transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);

  -o-transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);

  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-menu:hover {
  background-color: rgb(138, 98, 227);
}

.header-wrapper {
  padding-top: 25px;
  padding-bottom: 25px;

  display: -webkit-box;

  display: -ms-flexbox;

  -ms-flex-pack: distribute;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.header-wrapper::before {
  content: " ";
  background: #fff;
  width: 100%;
  height: 1px;
  bottom: 0px;
  position: absolute;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 40%;
  flex: 1 0 40%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 40%;
  flex: 1 0 40%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

.logotip-text {
  color: #fff;

  text-align: center;
  font-family: Tenor Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.2px;

  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logotip-text:hover {
  color: #31dce5;
}

.wrap-tel__header {
  margin-right: 108px;
}

.tel {
  color: #fff;

  font-family: TharLon;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  -webkit-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);

  -o-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);

  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel:hover {
  color: #31dce5;
}

.header-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.header-nav__link {
  color: #fff;

  font-family: TharLon;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  -webkit-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);

  -o-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);

  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__link:hover {
  color: #31dce5;
}

.main-banner {
  padding-top: 199px;
  padding-bottom: 191px;
}

.main-banner .slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-prev {
  position: absolute;
  right: 0;
  bottom: -15%;
  border: 0;

  background: transparent;
}

.slick-next {
  position: absolute;
  right: 0;
  bottom: -20%;
  border: 0;

  background: transparent;
}

.header-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-_banner__img {
  position: relative;
}

.header-_banner__img::before {
  content: " ";
  background: #fff;
  width: 20px;
  height: 1px;
  position: absolute;
  top: 43%;
  left: -13%;
  width: 62px;
}

.wrap-collection__text {
  position: absolute;
  top: 25%;
  left: -13%;
}

.collection-text {
  color: #fff;

  text-align: center;
  font-family: TharLon;
  font-size: 59px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.95px;
}

.wrap-collection__see {
  position: absolute;
  top: 46%;
  left: -13%;
}

.collection-see {
  color: #fff;

  text-align: center;
  font-family: TharLon;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.3px;
  -webkit-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.collection-see:hover {
  color: #31dce5;
}

.wrap-collect-send {
  position: absolute;
  top: 47%;
  left: 12%;
}
a.collection-send__link svg {
  stroke: #ffffff;
  width: 23px;
  height: 23px;
  fill: none;
  transition: stroke 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
a.collection-send__link svg:hover {
  stroke: #31dce5;
}

.header-banner__title {
  color: #fff;

  font-family: TharLon;
  font-size: 29px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
}

.header-banner__text {
  color: rgba(255, 255, 255, 0.6);
  max-width: 328px;
  font-family: TharLon;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

.price-new {
  color: #fff;

  font-family: TharLon;
  font-size: 29px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.price-old {
  color: rgba(255, 255, 255, 0.5);
  font-family: TharLon;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* NEW COLLECTION */

.slider-collection__wrapper {
  padding-top: 42px;
}

.wrapper-headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.headline-collection {
  padding-bottom: 48px;

  color: var(--grey-900, #1a1a1a);
  font-family: TharLon;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  text-transform: uppercase;
}
.part {
  color: #1a1a1a;
  font-family: TharLon;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-transform: uppercase;
  margin-left: 30%;
}

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 32px;
}

.btn-explore1 {
  color: #1a1a1a;
  font-family: TharLon;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding: 12px 24px;

  margin-bottom: 24px;

  position: relative;

  min-width: 141px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  transition: all 350ms ease;
}
.btn-explore1:hover {
  background-color: #fff;

  -webkit-box-shadow: 8px 9px 10px 10px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 8px 9px 10px 10px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.btn-explore2 {
  color: #1a1a1a;
  font-family: TharLon;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding: 12px 24px;

  margin-bottom: 24px;

  position: relative;

  min-width: 151px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  transition: all 350ms ease;
}
.btn-explore2:hover {
  background-color: #fff;

  -webkit-box-shadow: 8px 9px 10px 10px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 8px 9px 10px 10px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.btn-explore1::before {
  content: " ";
  background: #1a1a1a;
  width: 20px;
  height: 1px;
  bottom: 21px;
  right: 24px;
  position: absolute;
}
.btn-explore2::before {
  content: " ";
  background: #1a1a1a;
  width: 20px;
  height: 1px;
  bottom: 21px;
  right: 24px;
  position: absolute;
}
.explore-img-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 32px 1fr 32px 1fr 32px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 32px;
  gap: 32px;
}

.product-item {
  margin-left: 32px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-text {
  color: #1a1a1a;
  font-family: TharLon;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 3.84px;
  text-transform: uppercase;
}

.content-text__link {
  color: #1a1a1a;

  font-family: TharLon;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1.2px;
  text-transform: uppercase;

  text-decoration: underline;

  -webkit-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);

  -o-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);

  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.content-text__link:hover {
  color: rgb(41, 131, 187);
}
.wrapper-item {
  position: relative;
}

/* EXPLORE ITEMS */

.content {
  padding-top: 20px;
}

.explore {
  padding-top: 92px;
  padding-bottom: 121px;
}

.explore-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 32px;
}

.card-explore__items {
  display: block;
  -webkit-transition: -webkit-box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-explore__items:hover {
  -webkit-box-shadow: 8px 9px 10px 10px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 8px 9px 10px 10px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.wrapper-item__fon {
  background: #888c8d;
  width: 376px;
  height: 472px;

  position: relative;
}
.wrap-explore__brand {
  padding-left: 5px;
}

.wrap-explore-brand__add {
  position: absolute;
  bottom: -21%;
  padding-left: 5px;
}

.explore-img-sale__fon {
  position: absolute;
  left: 0;
  top: 90%;

  background-color: #435476;
  color: #fff;

  padding-right: 8px;
  padding-bottom: 4px;
  padding-top: 4px;

  font-family: TharLon;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.explore-img__sale {
  position: absolute;
  left: 0;
  top: 72%;

  background-color: #435476;
  color: #fff;

  padding-right: 8px;
  padding-bottom: 4px;
  padding-top: 4px;

  font-family: TharLon;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.img-explore__down {
  position: relative;
}

.explore-img__down {
  position: absolute;
  left: 0;
  bottom: 20%;
  background-color: #435476;
  color: #fff;

  padding-right: 8px;
  padding-bottom: 4px;
  padding-top: 4px;

  font-family: TharLon;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.explore-brand {
  color: #999;
  font-family: TharLon;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
.explore-brand__title {
  color: #1a1a1a;

  font-family: TharLon;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 3.84px;
  text-transform: uppercase;
}

.wrap-add-icon__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 10px;
}

.card-quickview {
  color: #333;
  font-family: TharLon;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  -webkit-text-decoration: underline #333;
  text-decoration: underline #333;

  -webkit-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);

  -o-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);

  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-quickview:hover {
  color: rgb(72, 184, 72);
}
.explore-barnd__price {
  color: #e20000;

  font-family: TharLon;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.add-card {
  color: #333;
  font-family: TharLon;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  -webkit-text-decoration: underline #333;
  text-decoration: underline #333;
  margin-left: 15px;
}

.explore-prie__old {
  color: #999;
  font-family: TharLon;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
  -webkit-text-decoration-line: strikethrough;
  text-decoration-line: strikethrough;
}

.explore-barnd-price__one {
  color: #435476;

  font-family: TharLon;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.wrap-explore-add__card {
  position: absolute;
  top: 70%;
  right: 20%;
}

.wrap-explore-icons__card {
  position: absolute;
  top: 70%;
  right: 0;
}

/* ------ FOOTER ------ */

footer {
  background-color: #435476;
  padding-bottom: 24px;
  padding-top: 48px;

  position: relative;
}

.wrap-icon__input {
  display: flex;
  align-items: center;
}

.subscrite-form__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;

  margin-bottom: 80px;
}

.subscrite-form__wrap::before {
  content: " ";
  background: rgba(255, 255, 255, 0.3);

  width: 100%;
  height: 1px;
  bottom: 69%;
  left: 0;

  position: absolute;
}

.headline-footer {
  color: #fff;
  font-family: TharLon;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 2px;
  text-transform: uppercase;

  min-width: 771px;
}

.text-footer {
  color: #e5e5e5;
  font-family: TharLon;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 48px;
}

.form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.input-footer {
  position: relative;
  width: 100%;

  margin-left: 241px;
  padding: 12px;
  background-color: transparent;
  outline: none;

  border-top: none;
  border-right: none;
  border-left: none;

  border-color: #fff;

  color: #fff;
  font-family: TharLon;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
}
.input-footer::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
.input-footer::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.input-footer:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
.input-footer::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
.input-footer::placeholder {
  color: #fff;
  opacity: 1;
}

.icon-input {
  position: absolute;
  right: 2%;
  top: 16%;
}
.button-menu-icon__input {
  border: 0;
  background: transparent;
  position: absolute;
}

.wrapper-colum__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  padding-bottom: 80px;
}

.wrapper-colum__footer::before {
  position: absolute;

  content: " ";
  background: rgba(255, 255, 255, 0.3);

  width: 100%;
  height: 1px;
  bottom: 15%;
  left: 0;
}

.col-footer {
  width: 16%;
}

.footer-headline__lum {
  color: #fff;

  text-align: center;
  font-family: Tenor Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.2px;
  text-align: unset;
}

.footer-headline__list {
  color: #fff;

  font-family: TharLon;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 3.84px;
  text-transform: uppercase;
}

.footer-link__text {
  color: #fff;

  font-family: TharLon;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;

  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link__text:hover {
  color: #31dce5;
}

.footer-wrap__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  padding-top: 24px;
}

.copyright {
  width: 75%;
}

.copyright-text {
  color: #fff;

  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px;
}

.folow {
  color: #fff;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
}

/* OPEN MENU */
.backdrop {
  position: absolute;
  top: 0;
  left: 0;

  background-color: #fff;

  -webkit-transition: opacity 450ms, visibility 450ms;

  -o-transition: opacity 450ms, visibility 450ms;

  transition: opacity 450ms, visibility 450ms;
}

.menu-container {
  width: 528px;
  height: 1025px;
  padding-right: 2px;
}

.backdrop-close__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  margin-top: 21px;
  margin-right: 15px;

  border: 0;
  background: transparent;
  float: right;

  font-size: 20px;
}
svg.backdrop-close__icon {
  width: 24px;
  height: 24px;
  stroke: #2e2129;
  fill: none;

  transition: stroke 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

svg.backdrop-close__icon:hover {
  stroke: #ca1313;
}

.backdrop-close__icon {
}

.wrap-background__time {
}

.wrap-backdrop-text {
  background-color: #eaebed;
  padding-bottom: 25px;
  padding-top: 50px;
}

.wrap_background__sale {
}

.backdrop-text__menu {
  color: #3a3a3a;

  text-align: center;
  font-family: TharLon;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3px;
}

.backdrop-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 528px;

  padding-bottom: 189px;
}

.backdrop-menu__item {
  padding-top: 38px;
  padding-left: 20px;
}
li.backdrop-menu__item a.backdrop-menu-item__link svg {
  width: 20px;
  height: 20px;
  stroke: #a1a1a1;
  float: right;
  padding-right: 20px;
}
.menu-svg {
  width: 16px;
  height: 16px;
  fill: none;
}

.backdrop-menu-item__link {
  color: #3a3a3a;

  font-family: TharLon;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: capitalize;

  border-top: none;
  border-right: none;
  border-left: none;

  border-bottom: 1px solid #eaebed;
  width: 100%;
  display: inline-block;

  padding-bottom: 10px;
}

select:active,
select:focus {
  outline: none;
}

.backdrop-menu__social {
}

.social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 25px;
  margin-bottom: 40px;
  gap: 24px;
}

.folow-menu {
  color: #3a3a3a;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 175%;
  letter-spacing: 1.6px;
}

.folow-menu__link {
  color: #435476;
}

div.social-menu div a svg {
  width: 24px;
  height: 24px;
  stroke: #3a3a3a;
  fill: #3a3a3a;
}
div.social-menu div a svg:hover {
  stroke: #435476;
  fill: #435476;
}

.background {
  background: #435476;
  width: 478px;
  height: 178px;

  margin-left: 34px;
  margin-bottom: 40px;
}

.wrap-background__time {
  position: relative;
}

.background-time {
  color: #fff;

  text-align: center;
  font-family: The Nautigal;
  font-size: 115px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 11.5px;
  text-transform: capitalize;

  position: absolute;
  top: 20px;
}

.wrap_background__sale {
  position: relative;
}

.background-sale {
  color: #98a9ca;

  text-align: center;
  font-family: Tenor Sans;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: capitalize;
  position: absolute;
  top: 48px;
  right: 24%;
  color: rgba(255, 255, 255, 0.5);
}

.background-border {
  position: relative;

  border-radius: 50%;
  background-color: #fff;
  width: 89px;
  height: 89px;

  left: 69%;
  top: 16%;
}
.box-1 {
  position: relative;
}

.background-border__1 {
  color: #435476;

  text-align: center;
  font-family: Tenor Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
  text-transform: capitalize;

  position: absolute;
  right: 20%;
  bottom: 31px;
}

.box-2 {
  position: relative;
}

.background-border__2 {
  position: absolute;

  color: #435476;

  text-align: center;
  font-family: Tenor Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
  text-transform: capitalize;

  right: 19%;
  bottom: -4px;
}

.box-3 {
  position: relative;
}

.background-border__3 {
  position: absolute;

  color: #435476;

  text-align: center;
  font-family: Tenor Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
  text-transform: capitalize;

  right: 16%;
  bottom: 15px;
}

.box-4 {
  position: relative;
}

.background-border__4 {
  position: absolute;

  color: #435476;

  text-align: center;
  font-family: Tenor Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
  text-transform: capitalize;

  right: 65px;
  bottom: 1px;
}

a.header-nav__icon > svg {
  width: 40px;
  height: 40px;
  stroke: #fff;
  fill: none;

  transition: stroke 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.header-nav__icon > svg:hover {
  stroke: #31dce5;
}

div.social-footer div a svg {
  width: 24px;
  height: 24px;
  stroke: #fff;
  fill: none;
}

div.social-footer div a svg {
  transition: stroke 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
div.social-footer div a svg:hover {
  stroke: #31dce5;
}
div.icon-input a.footer-link__text svg {
  transition: stroke 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

div.icon-input a.footer-link__text svg:hover {
  stroke: #31dce5;
}

ul li a.footer-link__text svg {
  width: 24px;
  height: 24px;
  stroke: #fff;
  fill: none;
}
ul li a.footer-link__text svg:hover {
  stroke: #31dce5;
}

a.footer-link__text svg {
  width: 24px;
  height: 24px;
  stroke: #fff;
  fill: none;
}

/* ---------MOB MENU------------- */

@media screen and (min-width: 1600px) {
  .container {
    width: 1570px;
  }

  .wrap-subscrite-inputfooter {
    display: flex;
  }

  .explore-img__down {
    bottom: 25%;
  }

  .wrap-subscrite-input__footer {
    display: flex;
  }

  .icon-input {
    right: 9%;
    top: 16%;
  }

  .button-mob {
    display: none;
  }
  .mob-menu {
    display: none;
  }

  .explore-brand__title {
    font-size: 23px;
  }
  .input-footer {
    width: 100%;
  }
  .form-wrap__footer {
    margin-right: 264px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1599px) {
  .container {
    width: 1370px;
  }

  .menu-container {
    height: 975px;
  }

  .backdrop-menu__list {
    padding-bottom: 160px;
  }

  .wrap-subscrite-input__footer {
    display: flex;
  }
  .subscrite-form__wrap::before {
    bottom: 70%;
  }
  .wrap-subscrite-inputfooter {
    display: flex;
  }
  .wrap-tel__header {
    margin-right: 45px;
  }
  .img-banner {
    width: 100%;
  }
  .img-banner2 {
    width: 100%;
  }
  .collection-text {
    font-size: 59px;
  }
  .header-_banner__img::before {
    width: 50px;
    left: 5%;
  }
  .wrap-collection__see {
    top: 46%;
    left: 4%;
  }
  .collection-see {
    font-size: 20px;
  }
  .wrap-collect-send {
    top: 47%;
    left: 24%;
  }
  .header-banner__title {
    font-size: 25px;
  }
  .header-banner__text {
    font-size: 16px;
  }
  .explore-img__sale {
    top: 71%;
  }
  .explore-img__down {
    bottom: 24%;
  }
  .explore-brand__title {
    font-size: 17px;
  }
  .icon-input {
    right: 13%;
    top: 14%;
  }
  .wrap-collection__text {
    position: absolute;
    top: 25%;
    left: 1%;
  }
  .button-mob {
    display: none;
  }
  .mob-menu {
    display: none;
  }
  .headline-footer {
    font-size: 35px;
  }
  .text-footer {
    font-size: 16px;
  }

  .input-footer {
    margin-right: 241px;
    margin-left: 20px;
  }
  .icon-input {
    right: 14%;
    top: 14%;
  }
  .form-wrap__footer {
    margin-right: 55px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .container {
    width: 1170px;
  }
  .wrap-subscrite-inputfooter {
    display: flex;
  }

  .menu-container {
    height: 920px;
    width: 480px;
  }
  .backdrop-menu__list {
    padding-bottom: 100px;
  }
  .backdrop-menu-item__link {
    font-size: 22px;
  }
  .backdrop-menu__item {
    padding-top: 34px;
  }
  .backdrop-menu-item__link {
    width: 91%;
  }
  .background {
    width: 453px;
    margin-left: 21px;
  }

  .header-wrapper {
    display: flex;
  }

  .button-mob {
    display: none;
  }
  .mob-menu {
    display: none;
  }
  .header-nav__list {
    gap: 25px;
  }
  .wrap-tel__header {
    margin-right: 30px;
  }
  .header-nav__link {
    font-size: 16px;
  }
  .tel {
    font-size: 16px;
  }
  a.header-nav__icon > svg {
    width: 34px;
    height: 34px;
  }
  .wrap-tel__header {
    margin-right: 45px;
  }
  .logotip-text {
    font-size: 35px;
  }
  .img-banner {
    width: 100%;
  }
  .img-banner2 {
    width: 100%;
  }
  .wrap-collection__text {
    left: 5%;
  }
  .collection-text {
    font-size: 34px;
  }
  .header-_banner__img::before {
    width: 40px;
    top: 40%;
    left: 9%;
  }
  .wrap-collection__see {
    left: 6%;
    top: 43%;
  }
  .collection-see {
    font-size: 18px;
  }
  .wrap-collect-send {
    top: 43%;
    left: 27%;
  }

  .header-banner__title {
    font-size: 18px;
  }
  .header-banner__text {
    font-size: 13px;
    max-width: 270px;
  }
  .price-new {
    font-size: 20px;
  }
  .price-old {
    font-size: 20px;
  }
  .headline-collection {
    font-size: 40px;
  }
  .part {
    font-size: 18px;
  }
  .content-text {
    font-size: 20px;
  }
  .content-text__link {
    font-size: 10px;
  }
  .explore-brand {
    font-size: 11px;
  }
  .explore-brand__title {
    font-size: 13px;
  }
  .explore-barnd__price {
    font-size: 15px;
  }
  .explore-prie__old {
    font-size: 13px;
  }
  .explore-barnd-price__one {
    font-size: 17px;
  }
  .card-quickview {
    font-size: 8px;
  }

  .input-footer {
    margin-left: 46px;
    min-width: 241px;
  }
  .headline-footer {
    font-size: 30px;
  }
  .text-footer {
    font-size: 15px;
  }
  .footer-headline__lum {
    font-size: 35px;
  }
  .footer-headline__list {
    font-size: 21px;
  }
  .footer-link__text {
    font-size: 15px;
  }
  .icon-input {
    right: 15%;
    top: 14%;
  }

  .form-wrap__footer {
    margin-right: 71px;
  }
  .subscrite-form__wrap::before {
    bottom: 70%;
  }
  .wrap-subscrite-input__footer {
    display: flex;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 962px;
  }
  .wrap-subscrite-inputfooter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .backdrop-menu-item__link {
    font-size: 20px;
  }
  .backdrop-menu__list {
    padding-bottom: 60px;
  }
  .menu-container {
    width: 520px;
    height: 840px;
  }
  .backdrop-menu-item__link {
    width: 99%;
  }

  .header-wrapper {
    display: flex;
  }
  .button-mob {
    display: none;
  }
  .mob-menu {
    display: none;
  }

  .header-nav__list {
    gap: 15px;
  }
  .header-nav__list {
    gap: 10px;
  }
  .header-nav__link {
    font-size: 14px;
  }
  .logotip-text {
    font-size: 30px;
  }
  .wrap-tel__header {
    margin-right: 35px;
  }
  .tel {
    font-size: 14px;
  }
  .header-nav__item {
    gap: 5px;
  }
  a.header-nav__icon > svg {
    width: 25px;
    height: 25px;
  }
  .wrap-collection__text {
    left: 20%;
  }
  .collection-text {
    font-size: 40px;
  }
  .wrap-collection__see {
    left: 31%;
  }
  .wrap-collect-send {
    top: 47%;
    left: 66%;
  }
  .header-_banner__img::before {
    top: 41%;
    left: 40%;
    width: 90px;
  }
  .header-banner__title {
    font-size: 22px;
  }
  .header-banner__text {
    max-width: 305px;
    font-size: 15px;
  }
  .price-new {
    font-size: 20px;
  }
  .price-old {
    font-size: 20px;
  }
  .headline-collection {
    font-size: 41px;
  }
  .part {
    font-size: 18px;
  }
  .content-text {
    font-size: 20px;
  }
  .content-text__link {
    font-size: 14px;
  }
  .explore-brand {
    font-size: 12px;
  }
  .explore-brand__title {
    font-size: 10px;
  }
  .explore-barnd__price {
    font-size: 14px;
  }
  .explore-prie__old {
    font-size: 13px;
  }
  .card-quickview {
    font-size: 8px;
  }
  .explore-img__down {
    bottom: 23%;
  }
  .explore-img__sale {
    top: 70%;
  }
  .explore-barnd-price__one {
    font-size: 15px;
  }
  .headline-footer {
    font-size: 25px;
  }
  .text-footer {
    font-size: 15px;
  }
  .footer-headline__lum {
    font-size: 29px;
  }
  .footer-headline__list {
    font-size: 19px;
  }
  .footer-link__text {
    font-size: 15px;
  }
  .subscrite-form__wrap {
    flex-direction: row-reverse;
    align-items: end;
  }
  .form-footer {
    -webkit-box-pack: center;
  }
  .subscrite-form__wrap {
    display: block;
  }
  .input-footer {
    margin: 0;
    min-width: 400px;
  }
  .form-wrap__footer {
    display: flex;
  }

  .wrap-subscrite-input__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscrite {
    text-align: center;
  }
  .subscrite-form__wrap::before {
    bottom: 65%;
  }
  .icon-input {
    right: 31%;
    top: 23%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 738px;
  }
  .wrap-subscrite-inputfooter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .backdrop-menu-item__link {
    font-size: 17px;
  }
  .backdrop-menu__item {
    padding-top: 20px;
  }
  .backdrop-menu__list {
    padding-bottom: 60px;
  }
  .menu-container {
    width: 465px;
    height: 722px;
  }
  .backdrop-menu-item__link {
    width: 88%;
  }
  .header-nav__wrapper {
    display: none;
  }

  .header-nav__item {
    gap: 3px;
  }

  a.header-nav__icon > svg {
    width: 27px;
    height: 27px;
  }
  .background {
    width: 410px;
    height: 165px;
  }
  .background-time {
    font-size: 95px;
  }
  .background-sale {
    font-size: 80px;
  }
  .background-border {
    width: 70px;
    height: 70px;
  }
  .background-border__2 {
    font-size: 32px;
    right: 20%;
    bottom: -10px;
  }
  .background-border__1 {
    right: 19%;
    bottom: 21px;
  }
  .background-border__3 {
    right: 16%;
    bottom: 11px;
  }
  .background-border__4 {
    right: 60px;
    bottom: -4px;
  }
  .header-right {
    flex-direction: column;
  }

  .button-menu {
    width: 25px;
    height: 25px;
  }

  .menu {
    margin-right: 50px;
  }

  .logotip {
    text-align: center;
    width: 33.33%;
  }

  .logotip-text {
    font-size: 30px;
  }
  .wrap-tel__header {
    margin-right: 10px;
  }
  .tel {
    font-size: 15px;
  }

  .img-banner {
    width: 100%;
  }
  .img-banner2 {
    width: 100%;
  }
  .wrap-collection__text {
    top: 24%;
    left: 6%;
  }
  .collection-text {
    font-size: 40px;
  }
  .header-_banner__img::before {
    width: 73px;
    top: 46%;
    left: 34%;
  }
  .wrap-collection__see {
    top: 49%;
    left: 18%;
  }
  .collection-see {
    font-size: 26px;
  }
  .wrap-collect-send {
    top: 51%;
    left: 65%;
  }
  .header-banner__title {
    font-size: 15px;
  }
  .header-banner__text {
    font-size: 10px;
    max-width: 202px;
  }
  .price-new {
    font-size: 15px;
  }
  .price-old {
    font-size: 15px;
  }
  .headline-collection {
    font-size: 38px;
  }
  .part {
    font-size: 17px;
  }
  .content-text {
    font-size: 17px;
  }
  .content-text__link {
    font-size: 9px;
  }
  .explore-brand {
    font-size: 14px;
  }
  .explore-brand__title {
    font-size: 16px;
  }
  .explore-barnd__price {
    font-size: 16px;
  }
  .explore-prie__old {
    font-size: 15px;
  }
  .card-quickview {
    font-size: 12px;
  }
  .explore-img__sale {
    top: 76%;
  }
  .explore-img__down {
    bottom: 20%;
  }

  .explore-img-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .explore-img-grid {
    gap: 35px;
  }

  .headline-footer {
    font-size: 23px;
  }
  .text-footer {
    font-size: 15px;
  }
  .footer-headline__lum {
    font-size: 26px;
  }
  .footer-headline__list {
    font-size: 18px;
  }
  .footer-link__text {
    font-size: 14px;
  }
  .subscrite-form__wrap {
    flex-direction: row-reverse;
    align-items: end;
  }
  .form-footer {
    -webkit-box-pack: center;
  }
  .subscrite-form__wrap {
    display: block;
  }
  .input-footer {
    margin: 0;
    min-width: 350px;
  }

  .wrap-subscrite-input__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscrite {
    text-align: center;
  }
  .subscrite-form__wrap::before {
    bottom: 68%;
  }
  .icon-input {
    right: 29%;
    top: 20%;
  }
  .wrapper-colum__footer::before {
    bottom: 14%;
  }
  .folow {
    font-size: 17px;
    min-width: 75px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 546px;
  }
  .wrap-subscrite-inputfooter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .backdrop-menu-item__link {
    font-size: 17px;
  }
  .backdrop-menu__item {
    padding-top: 20px;
  }
  .backdrop-menu__list {
    padding-bottom: 20px;
  }
  .menu-container {
    width: 465px;
    height: 672px;
  }
  .backdrop-menu-item__link {
    width: 88%;
  }
  .header-nav__wrapper {
    display: none;
  }

  .header-nav__item {
    gap: 3px;
  }

  a.header-nav__icon > svg {
    width: 27px;
    height: 27px;
  }
  .background {
    width: 410px;
    height: 165px;
  }
  .background-time {
    font-size: 95px;
  }
  .background-sale {
    font-size: 80px;
  }
  .background-border {
    width: 70px;
    height: 70px;
  }
  .background-border__2 {
    font-size: 32px;
    right: 20%;
    bottom: -10px;
  }
  .background-border__1 {
    right: 19%;
    bottom: 21px;
  }
  .background-border__3 {
    right: 16%;
    bottom: 11px;
  }
  .background-border__4 {
    right: 60px;
    bottom: -4px;
  }
  .header-right {
    flex-direction: column;
  }
  .header-nav__wrapper {
    display: none;
  }
  .header-wrapper {
    display: flex;
    flex-direction: column;
  }

  .header-nav__item {
    gap: 5px;
  }
  .tel {
    font-size: 18px;
  }
  .wrap-tel__header {
    margin: 0;
  }

  .menu {
    margin: 0;
  }
  a.header-nav__icon > svg {
    width: 30px;
    height: 30px;
  }
  .logotip {
    margin-bottom: 10px;
  }

  .logotip-text {
    font-size: 34px;
  }
  .wrap-collection__text {
    top: 31%;
    left: 4%;
  }
  .collection-text {
    font-size: 30px;
  }
  .wrap-collection__see {
    top: 50%;
    left: 13%;
  }
  .wrap-collect-send {
    top: 51%;
    left: 48%;
  }
  .header-_banner__img::before {
    top: 46%;
    left: 23%;
  }
  .header-banner__title {
    font-size: 25px;
  }
  .header-banner__text {
    font-size: 19px;
  }
  .price-new {
    font-size: 17px;
  }
  .price-old {
    font-size: 17px;
  }
  .content-text {
    font-size: 14px;
  }
  .content-text__link {
    font-size: 10px;
  }
  .explore-brand {
    font-size: 13px;
  }
  .explore-brand__title {
    font-size: 14px;
  }
  .explore-barnd__price {
    font-size: 16px;
  }
  .explore-prie__old {
    font-size: 14px;
  }
  .card-quickview {
    font-size: 10px;
  }
  .explore-img-grid {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .explore-barnd-price__one {
    font-size: 16px;
  }
  .headline-footer {
    font-size: 21px;
  }
  .text-footer {
    font-size: 15px;
  }
  .footer-headline__lum {
    font-size: 21px;
  }
  .footer-headline__list {
    font-size: 15px;
  }
  .footer-link__text {
    font-size: 10px;
  }
  .subscrite-form__wrap {
    flex-direction: row-reverse;
    align-items: end;
  }
  .form-footer {
    -webkit-box-pack: center;
  }
  .subscrite-form__wrap {
    display: block;
  }
  .input-footer {
    margin: 0;
    min-width: 300px;
  }

  .wrap-subscrite-input__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscrite {
    text-align: center;
  }
  .subscrite-form__wrap::before {
    bottom: 59%;
  }
  .icon-input {
    right: 26%;
    top: 22%;
  }
  .wrapper-colum__footer::before {
    bottom: 14%;
  }
  .copyright-text {
    font-size: 15px;
  }
  .social-footer {
    gap: 12px;
    width: 35%;
  }
  .folow {
    font-size: 17px;
    min-width: 75px;
  }
  div.social-footer div a svg {
    width: 20px;
    height: 20px;
  }
  .col-footer {
    width: 21%;
    text-align: center;
  }
  .copyright {
    width: 65%;
  }
  .main-banner .slick-initialized .slick-slide {
    display: block;
  }
  picture.header-banner__collection img.img-banner {
    margin-bottom: 20px;
  }
  picture.header-banner__collection img {
    margin-bottom: 20px;
  }
  .slick-next {
    bottom: -17%;
  }
  .header-wrapper::before {
    bottom: 22px;
  }
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .container {
    width: 290px;
  }

  .wrap-subscrite-inputfooter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .backdrop-menu-item__link {
    font-size: 17px;
  }
  .backdrop-menu__item {
    padding-top: 20px;
  }
  .backdrop-menu__list {
    padding-bottom: 20px;
  }
  .menu-container {
    width: 465px;
    height: 591px;
  }
  .backdrop-menu-item__link {
    width: 88%;
    font-size: 13px;
  }
  .header-nav__wrapper {
    display: none;
  }
  .folow-menu {
    font-size: 14px;
  }
  div.social-menu div a svg {
    width: 18px;
    height: 18px;
  }

  .header-nav__item {
    gap: 3px;
  }

  a.header-nav__icon > svg {
    width: 27px;
    height: 27px;
  }
  .background {
    width: 368px;
    height: 145px;
  }
  .background-time {
    font-size: 87px;
  }
  .social-menu {
    margin-bottom: 18px;
  }
  .background-sale {
    font-size: 73px;
  }
  .background-border {
    width: 70px;
    height: 70px;
  }
  .background-border__2 {
    font-size: 27px;
    right: 20%;
    bottom: -10px;
  }
  .background-border__1 {
    right: 19%;
    bottom: 17px;
    font-size: 14px;
  }
  .background-border__3 {
    right: 16%;
    bottom: 6px;
  }
  .background-border__4 {
    right: 54px;
    bottom: -5px;
    font-size: 12px;
  }
  .header-nav__wrapper {
    display: none;
  }
  .header-wrapper {
    display: flex;

    flex-direction: column;
    text-align: center;
  }
  .logotip-text {
    font-size: 25px;
  }
  .tel {
    font-size: 15px;
  }
  .menu {
    margin: 0;
  }
  a.header-nav__icon > svg {
    width: 30px;
    height: 30px;
  }
  .wrap-tel__header {
    margin-right: 1px;
  }
  .header-nav__item {
    display: flex;
    gap: 5px;
  }
  .header-right {
    flex-direction: column;
  }
  .wrap-collection__text {
    top: 22%;
    left: 5%;
  }
  .collection-text {
    font-size: 24px;
  }
  .wrap-collection__see {
    top: 51%;
    left: 11%;
  }
  .wrap-collect-send {
    position: absolute;
    top: 52%;
    left: 67%;
  }
  .collection-see {
    font-size: 22px;
  }

  .header-banner__title {
    font-size: 22px;
  }
  .header-banner__text {
    font-size: 17px;
  }
  .price-new {
    font-size: 12px;
  }
  .price-old {
    font-size: 12px;
  }
  .header-_banner__img::before {
    top: 46%;
    left: 10%;
    width: 46px;
  }
  .wrapper-item {
    margin-bottom: 15px;
  }
  .wrapper-item:last-child {
    margin-bottom: 0px;
  }
  .explore-img-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .explore-img__down {
    bottom: 23%;
  }
  .explore-brand__title {
    font-size: 16px;
  }
  .content-text {
    font-size: 12px;
    letter-spacing: 0.84px;
  }
  .content-text__link {
    font-size: 8px;
  }
  .headline-collection {
    font-size: 25px;
  }
  .part {
    font-size: 12px;
  }
  .btn-explore1 {
    min-width: 125px;
  }
  .btn-explore2 {
    min-width: 128px;
  }
  .btn-explore1::before {
    width: 18px;
    right: 10px;
  }
  .btn-explore2::before {
    width: 17px;
    right: 4px;
  }

  .headline-footer {
    font-size: 18px;
  }
  .text-footer {
    font-size: 15px;
  }
  .footer-headline__lum {
    font-size: 21px;
  }
  .footer-headline__list {
    font-size: 16px;
  }
  .footer-link__text {
    font-size: 16px;
  }
  .subscrite-form__wrap {
    flex-direction: row-reverse;
    align-items: end;
  }
  .form-footer {
    -webkit-box-pack: center;
  }
  .subscrite-form__wrap {
    display: block;
  }
  .input-footer {
    margin: 0;
    min-width: 250px;
    font-size: 14px;
  }

  .wrap-subscrite-input__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscrite {
    text-align: center;
  }
  .subscrite-form__wrap::before {
    bottom: 78%;
  }
  .icon-input {
    right: 20%;
    top: 14%;
  }

  .wrapper-colum__footer {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 50px;
  }

  .wrapper-colum__footer::before {
    bottom: 7%;
  }
  .copyright-text {
    font-size: 15px;
  }
  .social-footer {
    gap: 12px;
    width: 35%;
  }
  .folow {
    font-size: 17px;
    min-width: 75px;
  }
  div.social-footer div a svg {
    width: 20px;
    height: 20px;
  }

  ul li a.footer-link__text svg {
    width: 18px;
    height: 18px;
  }
  .col-footer {
    width: 72%;
  }
  .copyright {
    width: 65%;
  }
  .main-banner .slick-initialized .slick-slide {
    display: block;
  }
  picture.header-banner__collection img.img-banner {
    margin-bottom: 15px;
  }
  picture.header-banner__collection img {
    margin-bottom: 15px;
  }
}
